<h5 style="margin-top: 30px;">Ng template child</h5>
<button type="button" (click)="showHeader=!showHeader">Click to Show Header</button>
 &nbsp;
<button type="button" (click)="showFooter=!showFooter">Click to Show Footer</button>

<div class="card mt-4">

  <div class="card-header">
    <ng-container *ngIf="showHeader"
                  [ngTemplateOutlet]="headerTpl">
    </ng-container>
  </div>

  <div class="card-body">
    <ng-content></ng-content>
  </div>

  <div class="card-footer">
    <ng-container *ngIf="showFooter"
                  [ngTemplateOutlet]="footerTpl">
    </ng-container>
  </div>

</div>
