  <!-- Header -->
  <header class="bg-dark text-white py-3">
    <div class="container">
      <span class="h4 mb-0">{{ appname }}</span>&nbsp;
      
      <br/><br/>
      
      <div class="dropdown inline">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Data Binding
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="dataBinding">Data Binding&nbsp;</a></li>
              <li><a class="dropdown-item" routerLink="directive">Directive&nbsp;</a></li>
              <li><a class="dropdown-item" routerLink="control-flow">Control Flow Template&nbsp;</a></li>
              <li><a class="dropdown-item" routerLink="defer">Defer Control Flow&nbsp;</a></li>
              <li><a class="dropdown-item" routerLink="pipes">Pipes&nbsp;</a></li>
          </ul>
      </div>

      <div class="dropdown inline">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Hooks
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="hooks">Hooks&nbsp;</a></li>
          </ul>
      </div>
       
      <div class="dropdown inline">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Forms
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="template-driven-form">Template-Driven Forms&nbsp;</a></li>
              <li><a class="dropdown-item" routerLink="reactive-form">Reactive Form&nbsp;</a></li>
              <li><a class="dropdown-item" routerLink="form-builder">Form Builder&nbsp;</a></li>
              <li><a class="dropdown-item" routerLink="complex-form">Complex Form&nbsp;</a></li>
          </ul>
      </div>

      <div class="dropdown inline">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            APIS
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="http-client">HttpClient&nbsp;</a></li>
            <li><a class="dropdown-item" routerLink="resource-api">Resource API&nbsp;</a></li>
          </ul>
      </div>

    </div>
  </header>
