<h2 style="font-size:30px">Built-in Pipes</h2>

<br/>
<span style="font-size:30px">Date</span>
<p>{{ today | date:'shortDate' }}</p>

<br/>
<span style="font-size:30px">Currency</span>
<p>{{ price | currency:'USD' }}</p>

<br/>
<span style="font-size:30px">uppercase</span>
<p>{{ text | uppercase }}</p>

<br/>
<span style="font-size:30px">lowercase</span>
<p>{{ text | lowercase }}</p>

<br/>
<span style="font-size:30px">percent</span>
<p>{{ percentage | percent:'1.2-2'}}</p>


<br/>
<span style="font-size:30px">Custom pipe (reverse)</span>
<p>{{ text | reverse }}</p>
